<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
        <body>
        <nav th:replace="fragments :: nav(context=${username},content=${userId})"></nav>

            <h1  class="index-title" th:text="${title}">Stores owner owens</h1>

            <div class="nav-border side-nav">
                <nav class="nav flex-column">
                <span class="side-link">
                    <a class="nav-link" th:href="@{/supplier/add/user/{userId}(userId=${userId})}">
                        <img th:src="@{/images/addStore.png}" height="42" width="42" alt="Not Found" />
                        <span style="padding-left: 5px;">Add Supplier</span>
                    </a>
                </span>
                    <span class="side-link">
                    <a class="nav-link" th:href="@{/supplier/user/{userId}/remove(userId=${userId})}">
                        <img th:src="@{/images/removeStore.png}" height="42" width="42" alt="Not Found" />
                        <span style="padding-left: 5px;">remove Supplier</span>
                    </a>
                </span>
                </nav>
            </div>

            <div class="table-border">
                <table class="table ">
                    <tr>
                        <th>Company Name</th>
                        <th>Phone Number</th>
                        <th>Street Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                    </tr>
                    <tr th:each="supplier : ${suppliers}">
                        <td>
                            <a th:href="@{/supplier/edit/{supplierId}(supplierId=${supplier.id})}">
                                <span th:text="${supplier.name}"></span>
                            </a>
                        </td>
                        <td th:text="${supplier.phoneNumber}"></td>
                        <td th:text="${supplier.streetAddress}"></td>
                        <td th:text="${supplier.city}"></td>
                        <td th:text="${supplier.state}"></td>
                        <td th:text="${supplier.zip}"></td>
                    </tr>
                </table>
            </div>

            <footer th:replace="fragments :: footer"></footer>

        </body>
</html>