<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <nav th:replace="fragments :: nav(context=${username},content=${userId})"></nav>

        <div id="page-container">
            <div id="content-wrap">
                <div class="add-form">

                    <h1 th:text="${title}"></h1>

                    <form method="post" th:object="${item}" action="/inventory/add">
                        <div class="form-group">
                            <label th:for="name">Name</label>
                            <input class="form-control" th:field="*{name}"/>
                            <span th:errors="*{name}" class="error"></span>
                        </div>
                        <div class="form-group">
                            <label th:for="barCode">Barcode</label>
                            <input class="form-control" th:field="*{barCode}"/>
                        </div>
                        <div class="form-group">
                            <label th:for="totalQty">Quantity</label>
                            <input class="form-control" th:field="*{totalQty}"/>
                            <span th:errors="*{totalQty}" class="error"></span>
                        </div>
                        <div class="form-group">
                            <label th:for="available">Available</label>
                            <input class="form-control" th:field="*{available}"/>
                        </div>
                        <div class="form-group">
                            <label th:for="location">Location</label>
                            <input class="form-control" th:field="*{location}"/>
                        </div>
                        <div class="form-group">
                            <label th:for="price">Price per unit</label>
                            <input class="form-control" th:field="*{price}"/>
                        </div>

                        <input type="hidden" th:value="${storeId}" name="storeId"/>
                        <input type="hidden" th:value="${userId}" name="userId"/>
                        <input type="submit" value="Add"/>
                    </form>
                </div>
            </div>

            <footer th:replace="fragments :: footer"></footer>
        </div>
    </body>
</html>