<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <nav th:replace="fragments :: nav"></nav>

        <h1 th:text="${title}" class="index-title">Store Title Inventory</h1>

        <div class="search-box2">
            <form method="post" th:action="@{/inventory/search/user/{userId}(userId=${userId})}">
                <input type="text" name="searchRequest" placeholder="Product Name/Code" size="20" style="height: 25px;"/>
                <div class="search-type2">
                    <select name="searchType">
                        <option value="Name">Name</option>
                        <option value="BarCode">Barcode</option>
                    </select>
                    <input type="hidden" th:value="${store.id}" name="id"/>
                    <input type="submit" class="search-submit2" value="Search"/>
                </div>
            </form>
        </div>

        <header class="nav-border side-nav">
            <nav class="nav flex-column">
                <span class="side-link">
                    <a class="nav-link" th:href="@{/inventory/user/{userId}/add/{id}(id=${store.id},userId=${userId})}">
                        <img th:src="@{/images/addImage.png}" height="42" width="42" alt="Not Found" />
                        <span style="padding-left: 5px;">Add product</span>
                    </a>
                </span>
                <span class="side-link">
                    <a class="nav-link" th:href="@{/inventory/user/{userId}/remove/{id}(id=${store.id},userId=${userId})}">
                        <img th:src="@{/images/removeItem.png}" height="42" width="42" alt="Not Found" />
                        <span style="padding-left: 5px;">Remove product</span>
                    </a>
                </span>
                <span class="side-link">
                    <a class="nav-link" th:href="@{/inventory/user/{userId}(userId=${userId},id=${store.id})}">
                        <img th:src="@{/images/inventoryIcon.png}" height="42" width="42" alt="Not Found" />
                        <span style="padding-left: 5px;">Inventory</span>
                    </a>
                </span>
                <span class="side-link">
                    <a class="nav-link" th:href="@{/store/(user=${userId})}">
                        <img th:src="@{/images/store.png}" height="42" width="42" alt="Not Found" />
                        <span style="padding-left: 5px;">Companies</span>
                    </a>
                </span>
            </nav>
        </header>

        <div class="table-border">
            <table class="table ">
                <tr>
                    <th>Product</th>
                    <th>Barcode</th>
                    <th>Quantity</th>
                    <th>Available</th>
                    <th>Location</th>
                    <th>Price</th>
                </tr>
                <tr th:each="item : ${items}">
                    <td>
                        <a th:href="@{/inventory/edit/user/{userId}/item/{itemId}/store(itemId=${item.id},id=${store.id},
                        userId=${userId})}">
                            <span th:text="${item.name}"></span>
                        </a>
                    </td>
                    <td th:text="${item.barCode}"></td>
                    <td th:text="${item.totalQty}"></td>
                    <td th:text="${item.available}"></td>
                    <td>
                        <a th:href="@{/location/user/{userId}/{name}/store(name=${item.location},id=${store.id},
                        userId=${userId})}">
                            <span th:text="${item.location}"></span>
                        </a>
                    </td>
                    <td th:text="${item.price}"></td>
                </tr>
            </table>
        </div>
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>