<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <nav th:replace="fragments :: nav"></nav>

        <h1 th:text="${title}" class="index-title">Store Title Inventory</h1>

        <header class="nav-border side-nav">
            <nav class="nav flex-column">
                <span class="side-link">
                    <a class="nav-link" th:href="@{/inventory/user/{userId}/add/{id}(id=${store.id},userId=${userId})}">
                        <img th:src="@{/images/addImage.png}" height="42" width="42" alt="Not Found" />
                        <span style="padding-left: 5px;">Add Item</span>
                    </a>
                </span>
                <span class="side-link">
                    <a class="nav-link" th:href="@{/inventory/remove/{id}(id=${store.id})}">
                        <img th:src="@{/images/removeItem.png}" height="42" width="42" alt="Not Found" />
                        <span style="padding-left: 5px;">Remove Item</span>
                    </a>
                </span>
                <span class="side-link">
                    <a class="nav-link" th:href="@{/store/(user=${userId})}">
                        <img th:src="@{/images/store.png}" height="42" width="42" alt="Not Found" />
                        <span style="padding-left: 5px;">Stores</span>
                    </a>
                </span>
            </nav>
        </header>

        <div class="table-border">
            <table class="table ">
                <tr>
                    <th>Product</th>
                    <th>Barcode</th>
                    <th>Quantity</th>
                    <th>Available</th>
                    <th>Location</th>
                    <th>Price</th>
                </tr>
                <tr th:each="item : ${items}">
                    <td>
                        <a th:href="@{/inventory/edit/user/{userId}/item/{itemId}/store(itemId=${item.id},id=${store.id},
                        userId=${userId})}">
                            <span th:text="${item.name}"></span>
                        </a>
                    </td>
                    <td th:text="${item.barCode}"></td>
                    <td th:text="${item.totalQty}"></td>
                    <td th:text="${item.available}"></td>
                    <td>
                        <a th:href="@{/location/{name}/store(name=${item.location},id=${store.id})}">
                            <span th:text="${item.location}"></span>
                        </a>
                    </td>
                    <td th:text="${item.price}"></td>
                </tr>
            </table>
        </div>
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>