<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <nav th:replace="fragments :: nav"></nav>

                <div class="removeWindow">
                    <h3 th:text="${title}">Default title</h3>

                    <div class="table-border">
                        <form method="post" th:object="${store}" action="/store/remove">
                            <table class="table ">
                                <tr>
                                    <th>CheckBox</th>
                                    <th>Store Name</th>
                                </tr>
                                <tr th:each="store : ${stores}">
                                    <td>
                                        <input type="checkbox" name="storeIds" th:value="${store.getId()}"
                                           th:id="${store.getId()}" />
                                        <div th:text="${error}" class="error"></div>
                                    </td>
                                    <td>
                                        <label th:for="${store.getId()}" th:text="${store.name}"></label>
                                    </td>
                                </tr>
                            </table>
                            <input type="hidden" th:value="${userId}" name="userId"/>
                            <input type="submit" value="Remove store"/>
                        </form>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments :: footer"></footer>
        </div>
    </body>
</html>