<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <nav th:replace="fragments :: nav(context=${username},content=${userId})"></nav>

        <h1 th:text="${title}" class="welcome-title">Welcome</h1>
        <div style="text-align: center;">
            <h5>Choose your category:</h5>
        </div>

        <div class="welcome-border">
            <div class="welcome-icon1">
                <h5 style="text-align: center;">Equipment Storage</h5>
                    <a class="nav-link" th:href="@{/store/(user = ${userId})}">
                        <img th:src="@{/images/cordless-drill.png}" class="unavailable" height="200" width="200"
                             alt="Not Found" />
                    </a>
            </div>

            <div class="welcome-icon2">
                <h5 style="text-align: center;">Retail</h5>
                <a class="nav-link" th:href="@{/store/(user = ${userId})}">
                    <img th:src="@{/images/retail.png}" height="200" width="200" alt="Not Found" />
                </a>
            </div>

        </div>

        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>