<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <nav th:replace="fragments :: nav"></nav>

        <div id="page-container">
            <div id="content-wrap">
                <div class="add-form">

                    <h1 th:text="${title}"></h1>

                    <form method="post">
                        <div class="form-group">
                            <label for="email">E-mail Address:</label>
                            <input class="form-control" type="text" name="email" id="email"/>
                        </div>

                        <div class="form-group">
                            <label for="pass">Password:</label>
                            <input class="form-control" type="password" name="password" id="pass"/>
                        </div>

                        <div th:if="${param.error}">
                            <p>Email or password invalid</p>
                        </div>

                        <input type="submit"/>
                        <a th:href="@{/registration}">
                            <span>Create Account</span>
                        </a>
                    </form>
                </div>
            </div>
            <footer th:replace="fragments :: footer"></footer>
        </div>
    </body>
</html>